[submodule "libs/python/py532lib"]
	path = libs/python/py532lib
	url = git@github.com:enricocirignaco/py532lib.git
[submodule "setup/LCD-show"]
	path = setup/LCD-show
	url = git@github.com:enricocirignaco/LCD-show.git
